.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
    flex-direction: row;
  background-color: var(--dark-green);
  color: white;
  padding: 0rem 8rem;
  box-shadow: var(--shadow-soft);
}

/* Text Section */
.hero-content {
  flex: 1 1 450px;
  z-index: 2;
}

.hero-content h1 {
  color: var(--yellow);
  font-size: 64px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.hero-content h2 {
  font-size: 32px;
  margin: 0;
}

.hero-content p {
  font-size: 18px;
  line-height: 1.6;
  margin: 1.5rem 0;
  max-width: 400px;
}

.hero-content button {
  background-color: var(--yellow);
  color: black;
  border: none;
  border-radius: var(--radius-md);
  padding: 0.8rem 1.6rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-content button:hover {
  background-color: var(--salmon);
}

/* Image Section */
.hero img {
  flex: 1 1 300px;
  max-width: 400px;
  border-radius: var(--radius-md);
  position: relative;
  top: 2.5rem; /* adds subtle Y offset */
  z-index: 4;
  box-shadow: var(--shadow-soft);
}

/* Make hero full-width background on mobile */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    width: 100%;
    border-radius: 0;
  }

  .hero-content {
    padding: 0;
  }

  .hero img {
    margin-top: 2rem;
    max-width: 90%;
    top: 0;
  }
}
